/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15 Sep, 2018, 5:17:55 PM
    Author     : namhsuyA
*/
.parent{
    -fx-background-color: transparent;
    -fx-background-radius: 3px;
}

.player-panel{
    -fx-background-color: #23272a;
    -fx-background-radius: 3px 3px 3px 3px;
}

.option-panel{
    -fx-background-color: transparent;
    -fx-background-radius: 3px 3px 3px 3px;
}

.main-buttons{
    -fx-background-color: transparent;
    -fx-background-radius: 0px;
}

.window-buttons{
    -fx-background-color: #ddeaff;
    -fx-background-radius: 300px;
}

.palette-panel{
    -fx-background-color: #23272a;
    -fx-background-radius: 3px 3px 3px 3px;
}

.palette-buttons{
    -fx-background-color: white;
    -fx-background-radius: 2px;
}

.icons{
    -fx-fill: #FFFFFF;
}

.icons:hover{
    -fx-fill: #3679e0;
}

.main-buttons:hover{
    -fx-background-color: transparent;
    -fx-background-radius: 0px;
    -fx-border-color: #FFFFFF;
    -fx-border-width: 0px 0px 3px 0px;
    -fx-border-radius: 0px;
}

